<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.termproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bg_icon_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bg_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PhotoGallery"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HighScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.OptionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HelpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>